astropy>=7.2
astroquery>=0.4.11
matplotlib>=3.10
pyvo>=1.8
pandas>=3.0
scipy>=1.17
pyarrow>=23.0
plotly>=6.7
ipydatagrid>=1.4
jupyter>=1.1

pytest>=9.0
pytest-mock>=3.15
pytest-check>=2.8
pytest-cov>=7.1
pytest-xdist>=3.8
